@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,500italic,400italic);

body{
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif !important;
  font-size: 20px;
  color: #555;
}

h3{
  color: #D84315
}
h1, h2{
  color: #555;
}

header{
  margin-bottom: 2em;
}

.btn-large{
  width: 70%;
  min-width: 150px;
  font-size: 2em;
}

.form-small{
  width: 70%;
  min-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.form-small > button.btn-large{
  width: 100%;
}


section{
  animation-duration: 1s;
  animation-name: appeartop;
  padding-top: 2em;
  padding-bottom: 2em;
}
section.alternate{
}

@keyframes appeartop {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.map{
  height: 600px;
  width: 100%;
}

.form-control-big{
  font-size: 50px;
  height: 80px;
}
